:root {
  --primary-color: #c4c4c4;
  --secondary-color: #fba71e;
  --third-color: #e94822;
  --text-color: #2c2d34;
}
.logo {
  max-width: 30px;
}
.navbar-brand {
  font-size: 20px;
}
.nav-item {
  font-size: 18px;
}
.container {
  margin: 0 auto;
}

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 110px;
  color: var(--text-color);
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  border: 2px black;
  color: #645d5d;
  line-height: 3px;
}
h3{
  font-size: 20px;
}
.profile_image {
  border-top-right-radius: 1rem 4rem;
  border-radius: 65% 35% 61% 39% / 37% 72% 28% 63%;
  transition: 300ms ease-in-out;
  margin-top: 30px;
}
.profile_image:hover{
  border-radius: 50% 50% 48% 52% / 66% 32% 68% 34%;
}

i .icons {
  padding: 20px 10px 0px 0px !important;
}

.icon-text{
  text-align: center;
}

footer .contact-box{
  background-color: var(--primary-color);
  padding: 30px 150px;
  border-radius: 10px;
  margin-top: 50px;
}
h4{
  font-size: 25px;
  font-family: "Roboto Slab", sans-serif;
  color: var(--text-color);
  margin-bottom: 25px;
}
h5{
  font-size: 35px;
  font-family: "Roboto Slab", sans-serif;
    color: var(--text-color);
}
.btn-primary {
  background: var(--secondary-color) !important;
  padding: 15px 35px;
  margin: 0%;
  font-size: 18px;
  box-shadow: 0 5px 10px rgba(58, 57, 57, 0.3);
}

.btn-primary:hover{
  color: #ffff;
  background: var(--third-color) !important;
}
footer .social-links a {
  margin: 0px 25px;
  color: var(--text-color);
  background: var(--primary-color);
  padding: 8px 10px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: #fff;
  background: var(--third-color);
}

footer .footer-text {
  font-size: 12px;
  margin: 15px 0px;
}

@media (max-width: 480px){
 h1{
  font-size: 60px;
 }
 h2{
  font-size: 25px;
 }
 h3, h4 {
  font-size: 20px;
 }
.contact-box{
  flex-direction: column;
  text-align: center;
  padding: 20px 60px !important;
}
.btn-primary{
  padding: 10px 25px;
}
h4, .work-inquiry{
  font-size: 30px;
}
}

@media (max-width: 900px){
  .contact-box{
    margin-top: 100px;
  }
  h4 {
    font-size: 30px;
  }
  h5{
    font-size: 27px;
  }
  .btn-primary{
    margin-top: 0% !important;
  }

}