:root {
  --primary-color: #c4c4c4;
  --secondary-color: #fba71e;
  --third-color: #e94822;
  --text-color: #2c2d34;
}
.logo {
  max-width: 30px;
}
.navbar-brand {
  font-size: 20px;
}
.nav-item {
  font-size: 18px;
}
.container {
  margin: 0 auto;
}

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 110px;
  color: var(--text-color);
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  border: 2px black;
  color: #645d5d;
  line-height: 3px;
}

.profile_image {
  border-top-right-radius: 1rem 4rem;
  border-radius: 65% 35% 61% 39% / 37% 72% 28% 63%;
  transition: 300ms ease-in-out;
}
.profile_image:hover{
  border-radius: 50% 50% 48% 52% / 66% 32% 68% 34%;
}

i {
  padding: 20px 10px 0px 0px !important;
}

.icon-text{
  text-align: center;
}

footer .contact-box{
  background-color: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
h4{
  font-size: 40px;
  font-family: "Roboto Slab", sans-serif;
  color: #ffff;
}
.btn-primary {
  background: var(--secondary-color) !important;
  padding: 15px 35px;
  margin: 0%;
  font-size: 18px;
  box-shadow: 0 5px 10px rgba(58, 57, 57, 0.3);
}

.btn-primary:hover{
  color: #ffff;
  background: var(--third-color) !important;
}