:root {
  --primary-color: #c4c4c4;
  --secondary-color: #fba71e;
  --third-color: #e94822;
  --text-color: #2c2d34;
}
.logo {
  max-width: 40px;
}
.navbar-brand {
  font-size: 25px;
}
.nav-item {
  font-size: 18px;
}

footer .social-links a {
  margin: 0px 25px;
  color: var(--text-color);
  background: var(--primary-color);
  padding: 8px 10px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: #fff;
  background: var(--third-color);
}

footer .footer-text {
  font-size: 12px;
  margin: 15px 0px;
}